.App {
  text-align: center;
}

.centering {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.al-itemsCenter{
  align-items: center;
}

.inlineBlock {
  display: inline-block;
}

.floatLeft {
  float: left;
  align-items: left;
}

td {
  border: 1px solid #ddd;
  padding: 4px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover {background-color: #ddd;}

.sort:hover {
  cursor: pointer;
}

/***** GRAPHS ******/
.summaryGraph{
  height: 40vh;
}

/*******************/

/*** TRANSACTIONLIST ***/
.transactionList{
  font-size: 0.4em;
  overflow-x: scroll;
}
/***********************/


/******** STOCKPAGE *********/
.fullScreenWidth{
  max-width: 100vw !important;
}
/****************************/

/*** STOCKSUMMARY WINDOWS ***/
.StockSummaryWindow {
  width: 80%;
  height: max-content;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #bbb;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.moreButton {
  float: right;
  text-align: center;
}

.SumWinProfit {
  border: 4px solid #4CAF50;
}

.SumLossProfit {
  border: 4px solid #BB1313;
}

.sumAreaDivider{
  width: 100%;
  margin: 0px;
}

.rubricArea {
  text-align: start;
  font-size: 40px;
  background-color: #fffcf3;
  padding-top: 10px;
  padding-bottom: 10px
}

.rubricArea h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.profitArea {
  font-size: 30px;
}

.greenText {
  color:  #4CAF50;
}

.redText {
  color: #BB1313;
}

.sumWindowCoins{
  height: 40px;
  width: 40px;
}

.moreButton{
  height: 40px;
  width: 40px;
  cursor: pointer;
}
/*** END OF STOCKSUMMARY WINDOWS ***/

.overAllChart {
  width: 40%;
  height: 100%;
  max-width: 3690px;
}

/*** NAVBAR ***/
.navCenter {
  align-items: center;
  color: white;
}

/***************/
